@forward 'icons';

@font-face {
    font-family: Rubik;
    src: url('Rubik-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: Rubik;
    src: url('Rubik-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Rubik;
    src: url('Rubik-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
