$sm-breakpoint: 375px;
$lg-breakpoint: 720px;
$xl-breakpoint: 1440px;

$colors__moderate-blue: hsl(238, 40%, 52%);
$colors__soft-red: hsl(358, 79%, 66%);
$colors__light-grayish-blue: hsl(239, 57%, 85%);
$colors__pale-red: hsl(357, 100%, 86%);

$colors__dark-blue: hsl(212, 24%, 26%);
$colors__grayish-blue: hsl(211, 10%, 45%);
$colors__light-gray: hsl(223, 19%, 93%);
$colors__very-light-gray: hsl(228, 33%, 97%);
$colors__white: hsl(0, 0%, 100%);
$colors__black: #000;
